<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="TxFileManager" version="1.4.0" targetFramework="net472" />
</packages>