<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KaitaiStruct.Runtime.CSharp" version="0.10.0" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="TxFileManager" version="1.5.0.1" targetFramework="net472" />
</packages>